#!/bin/sh

# 设置音频配置的函数
set_audio_config() {
    # 设置 ADC HPF CUT-OFF 为 ON
    amixer -c 0 cset name='ADC HPF Cut-off' 1

    # 设置 ADC-MIC-RIGHT 为 mute 关闭
    amixer -c 0 cset name='ADC MIC Right Switch' 1

    # 设置 ADC Digital Left 为 46
    amixer -c 0 cset name='ADC Digital right Volume' 211

    # 设置 ADC ALC Left
    amixer -c 0 cset name='ADC ALC Left Volume' 16

	# 设置扬声器音量(0~30)
	amixer -c 0 cset name='DAC LINEOUT Volume' 18
}

# insmod
set_insmod() {
    chmod +x /oem/usr/ko/insmod_ko.sh
    chmod +x /oem/usr/ko/insmod_wifi.sh
    /oem/usr/ko/insmod_ko.sh
}

case $1 in
start)
	set_audio_config
    set_insmod
	;;
*)
	exit 1
	;;
esac
